#=================================================
# Description: Build Android HAL and dhd packages using GitHub Actions
# Lisence: MIT
# Author: 0312birdzhang
#=================================================

name: Build SailfishOS dhd

on: 
  release:
    types: [published]
  push:
    branches: 
      - master
  workflow_dispatch:
      inputs:
        name:
          description: 'trigger build'
          required: true
          default: 'Do it'

jobs:

  build:
    runs-on: ubuntu-22.04

    env:
      DEVICE: ginkgo
      VENDOR: xiaomi
      ANDROID_ROOT: /home/runner/work/ci/ci/hadk_18.1/
      SAILFISH_SKD_VERSION: 5.0.0.68

    steps:

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: true
        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true
        
    - name: my clean
      run: |
        echo "Listing 100 largest packages"
        dpkg-query -Wf '${Installed-Size}\t${Package}\n' | sort -n | tail -n 100
        df -h
        sudo apt-get remove -y azure-cli google-cloud-sdk hhvm google-chrome-stable firefox powershell mono-devel ||true
        sudo apt-get autoremove -y
        sudo apt-get clean
        df -h
        echo "Removing large directories"
        # deleting 15GB
        rm -rf /usr/share/dotnet/
        df -h
        sudo rm -rf "/usr/local/share/boost"||true
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"||true

        sudo mkdir -p /mnt/platform
        mkdir -p /home/runner/work/ci/ci/hadk_18.1/
        sudo chown -R runner /mnt/platform
        sudo ln -s /mnt/platform /home/runner/work/ci/ci/hadk_18.1/platform
        
    - name: Checkout
      uses: actions/checkout@master
    
    - name: Initialization environment
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        openjdk-8-jdk android-tools-adb bc bison \
        build-essential curl flex g++-multilib gcc-multilib gnupg gperf \
        imagemagick lib32ncurses-dev \
        lib32readline-dev lib32z1-dev  liblz4-tool libncurses5-dev libsdl1.2-dev libssl-dev \
        libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc yasm zip zlib1g-dev \
        qemu-user-static qemu-system-arm e2fsprogs simg2img \
        libtinfo5 libncurses5 gzip virtualenv git python2


    - name: Download repo bin file
      run: |
        mkdir -p ~/bin
        wget 'https://storage.googleapis.com/git-repo-downloads/repo' -P ~/bin
        chmod +x ~/bin/repo
        git config --global user.name "BirdZhang"
        git config --global user.email "0312birdzhang@gmail.com"

    - name: Downloading source code
      run: |
        source hadk.env
        mkdir -p $ANDROID_ROOT
        cd $ANDROID_ROOT
        python3 ~/bin/repo init -u https://github.com/mer-hybris/android.git -b hybris-18.1 --depth=1
        python3 ~/bin/repo sync -j$(nproc --all) -c --no-clone-bundle --no-tags --optimized-fetch --prune

    - name: Check free disk
      run: |
        df -h
      shell: bash

    - name: Clone device spec source
      run: |
        source hadk.env
        git clone https://github.com/sailfish-on-nabu/android_device_xiaomi_sm8150-common.git $ANDROID_ROOT/device/xiaomi/sm8150-common --depth=1 --single-branch
        git clone https://github.com/sailfish-on-nabu/android_device_xiaomi_nabu.git $ANDROID_ROOT/device/xiaomi/nabu --depth=1 --single-branch
        git clone https://github.com/sailfish-on-nabu/android_vendor_xiaomi_nabu.git $ANDROID_ROOT/vendor/xiaomi/nabu --depth=1 --single-branch
        git clone https://github.com/sailfish-on-nabu/android_kernel_xiaomi_nabu.git $ANDROID_ROOT/kernel/xiaomi/sm8150 --depth=1 --single-branch
        rm -rf $ANDROID_ROOT/hybris/hybris-boot
        git clone https://github.com/sailfish-on-nabu/hybris-boot.git  $ANDROID_ROOT/hybris/hybris-boot --depth=1
        git clone --recurse-submodules https://github.com/sailfish-on-nabu/droid-hal-nabu.git $ANDROID_ROOT/rpm --depth=1
       
        git clone --recurse-submodules  https://github.com/mer-hybris/libhybris.git $ANDROID_ROOT/external/libhybris
        cd $ANDROID_ROOT && hybris-patches/apply-patches.sh --mb

    
    - name: Build HAL
      run: |
        chmod +x build-hal.sh
        sudo ln -sf /usr/bin/python2.7 /usr/bin/python
        bash build-hal.sh
      shell: bash

    - name : Upload boot image
      uses: actions/upload-artifact@master
      with:
        name: hybris-boot.img.zip
        path: ${{env.ANDROID_ROOT}}/out/target/product/${{env.DEVICE}}/hybris-boot.img

